<%- include("header"); -%>

<div class="box" id="heading">
    <h1>About</h1>
</div>

<div class="about">
    <p> This is an exercise to practice about NodeJS, Express & EJS. Also, a MongoDB database has been added, using Mongoose. </p>
</div>

<%- include("footer"); -%>